[submodule "charts"]
	path = charts
	url = https://github.com/dteamdev/charts
	branch = charts
[submodule "sources/multi-gatekeeper"]
	path = sources/multi-gatekeeper
	url = https://github.com/dteamdev/multi-gatekeeper
	branch = main
[submodule "sources/django-helm"]
	path = sources/django-helm
	url = https://github.com/dteamdev/django-helm
[submodule "sources/helm-rocketchat"]
	path = sources/helm-rocketchat
	url = https://github.com/dteamdev/helm-rocketchat
